:root{
  --primary-color:hsl(267, 95%, 76%);
  --secondary-color:#09e6d0;
  --error-color:#c2eb0c;
  --surface-color:#323232;
  --background-color:#121212;
  
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;

}