:root{
  --primary-color:#2c2c2c;/*All background*/ 
  --secondary-color: #FFFFFF; /* text*/
  --accent-color: #F25F5C;/*buttons and link*/ 
  --error-color: #e74c3c; /* error messages */
  
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;

}